<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MISAEntities" connectionString="metadata=res://*/EntityConvertDB.ConvertDB.csdl|res://*/EntityConvertDB.ConvertDB.ssdl|res://*/EntityConvertDB.ConvertDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=KIENNT\MISAMIMOSA2019;initial catalog=MISAMimosaSample_2019222222;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>