<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v2.0.50727" />
  </startup>
  <appSettings>
    <!-- DataProvider. Only used in ADO.NET. Options are: System.Data.OleDb, System.Data.SqlClient, or System.Data.OracleClient. System.Data.EntityClient is not used -->
    <add key="DataProvider" value="System.Data.SqlClient" />
    <!-- ConnectionName. A name in connectionstring Section. Must match with DataProvider above (if applicable)-->
    <add key="ConnectionStringName" value="ADO.NET.SqlServer" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ServerLicense" value="e1aCaZoZBh34hJpPkSCSpJZg72x5QkfL8VruzFFvnxY8Y6FjN_H2LwfzIgutv7x_" />
    <add key="ServerLicenseOld" value="e1aCaZoZBh34hJpPkSCSpJZg72x5QkfL8VruzFFvnxadqN1FZlo1-53C0UsjKZUH" />
    <add key="ServerAutoUpdate" value="nvh8PYYZD5_xjkJuE-bIr5xUXYvSR3g2fu-dD2mxCAGbiFb3PGb_ItdfYPX7pRSf" />
  </appSettings>
  <connectionStrings>
    <add name="ADO.NET.SqlServer" connectionString="Data Source=DEVSERVER\ABIGTIMEDEVELOP;Initial Catalog=aBigTime;Persist Security Info=True;User ID=abigtime;Password=123456" />
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Management.Sdk.Sfc" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.ConnectionInfo" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Smo" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Dmf" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>